<mat-card>
    <mat-card-title>Excluir Advogado</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [value]="advogado.name" name="name" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Oab" [value]="advogado.oab" name="oab" disabled>
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="deleteAdvogado()" color="warn">
        Excluir
    </button>

    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>

</mat-card>