<!-- <form class="form" action="#">
    <div class="card">
        <div class="card-top">
            <img class="Logo" src="../../../assets/img/logo.png" alt="http://localhost:4200/" />
            <h2 class="title">Apoio Juridico</h2>
            <p>Login</p>
        </div>
        <div class="card-group">
            <label>Email</label>
            <input type="email" name="login" [(ngModel)]="requestLogin.login" placeholder="digite seu email" required>
        </div>
        <div class="card-group">
            <label>Senha</label>
            <input type="password" name="password" [(ngModel)]="requestLogin.password" placeholder="digite sua senha" required>
        </div>
        <div class="card-group">
            <label><input type="checkbox" />lembre-me</label>
        </div>
        <div class="card-group btn">
            <button (click)="doLogin()" type="submit">ACESSAR</button>
        </div>
        <div class="card-group btn">
            <button mat-raised-button (click)="navigateToCreate()">
                Nova conta
            </button>
        </div>
    </div>
</form> -->