<mat-card>
    <mat-card-title>Novo Cliente</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="cliente.name" name="name" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Email" [(ngModel)]="cliente.email" name="email" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Cpf" [(ngModel)]="cliente.cpf" name="cpf" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Telefone" [(ngModel)]="cliente.telefone" name="telefone">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Endereço" [(ngModel)]="cliente.endereco" name="endereco">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="createCliente()" color="primary">
        Salvar
    </button>

    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>

</mat-card>