<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        Bem Vindo!
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Sistema de apoio Jurídico
    </mat-card-subtitle>
</mat-card>

<mat-card class="conteiner">
    <mat-card-title class="title">
        dashboard
    </mat-card-title>
</mat-card>

<mat-card class="dashboard">
    <app-dashboard-read-cliente class="child"></app-dashboard-read-cliente>
    <app-dashboard-read-atendimentos class="child"></app-dashboard-read-atendimentos>
    <app-dashboard-read-processo class="child"></app-dashboard-read-processo>
    <app-dashboard-read-advogados class="child"></app-dashboard-read-advogados>
</mat-card>

