<div class="mat-elevation-z4">
    <table mat-table [dataSource]="atendimentos">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Quantidade de atendimentos</th>
        <td class="ID" mat-cell *matCellDef="let row">
          <i class="material-icons">
            groups_3
          </i>
          {{row.id}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>