<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons">
                    home
                </i>
                Inicio
            </a>
            <a mat-list-item routerLink="/clientes">
                <i class="material-icons">
                    person
                </i>
                Clientes
            </a>
            <a mat-list-item routerLink="/processos">
                <i class="material-icons">
                    description
                </i>
                Processos
            </a>
            <a mat-list-item routerLink="/advogado">
                <i class="material-icons">
                    groups
                </i>
                Advogados
            </a>
            <a mat-list-item routerLink="/login">
                <i class="material-icons">
                    groups
                </i>
                Login Create Teste
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>