<mat-card>
    <mat-card-title>Alterar Cliente</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" [(ngModel)]="cliente.name" name="name" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Email" [(ngModel)]="cliente.email" name="email" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Cpf" [(ngModel)]="cliente.cpf" name="cpf" required> 
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Rg" [(ngModel)]="cliente.rg" name="rg">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Telefone" [(ngModel)]="cliente.telefone" name="telefone" required>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Endereço" [(ngModel)]="cliente.endereco" name="endereco">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Bairro" [(ngModel)]="cliente.bairro" name="bairro">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Numero" [(ngModel)]="cliente.numero" name="numero">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Referencia" [(ngModel)]="cliente.referencia" name="referencia">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Demanda Processual" [(ngModel)]="cliente.demandaProcessual" name="demandaProcessual">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Prioridade" [(ngModel)]="cliente.prioridade" name="prioridade">
        </mat-form-field>
    </form>
    <button mat-raised-button (click)="updateCliente()" color="primary">
        Atualizar
    </button>

    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>

</mat-card>