<div class="mat-elevation-z4">
    <table mat-table [dataSource]="processos">
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Quantidade de processos</th>
        <td class="ID" mat-cell *matCellDef="let row">
          <i class="material-icons">
            description
          </i>
          {{row.id}}</td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>